//@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
// OFFLINE
@import "font-awesome-4.7.0/css/font-awesome.min.css"

// CSS file to create the generic presentation
@import "vendor/remark"

// Use your favorite theme
@import "remark-themes/default"

@import "remark-themes/conf"
