.footnote {
  position: absolute;
  bottom: 0.5em;
  font-size: 70%;
}
.red    { color: #FF4943; }
.dark-gray   { color: #787878; }
.gray   { color: #ADADAD; }
.green  { color: #8ABA3D; }
.blue   { color: #15aaff; }
.yellow { color: #F7F41E; }
.white  { color: white;   }
.black  { color: black;   }
.orange { color: #f79c37; }
.bg-yellow { background-color: #F7F41E; }
.bg-red    { background-color: #FF4943; }
.bg-black {
  background-image: radial-gradient(circle, #595959 0%, black 100%);
}
.bg-blue { background-color: #15aaff; }
.bg-orange { background-color: #f79c37; }
.bg-gray { background-color: #787878; }
.bg-white {
  background-image: radial-gradient(circle, #d9d9d9 0%, white 100%);
}
.blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  width: 75%;
}
.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}
.large {
  font-size: 120%;
}
.s-large {
  font-size: 150%;
}
.m-large {
  font-size: 200%;
}
.x-large {
  font-size: 300%;
}
.small {
  font-size: 50%;
}
.s-small {
  font-size: 80%;
}
.m-small {
  font-size: 70%;
}
.title {
  font-size: 120%;
}

.loading
  margin-right: 70px

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}
