@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url(Yanone+Kaffeesatz_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Yanone+Kaffeesatz_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Yanone+Kaffeesatz_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff */
        url(Yanone+Kaffeesatz_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLXH4RvoIgd8UGj-uxFsyfXs.ttf */
        url(Yanone+Kaffeesatz_400_normal.svg#Yanone+Kaffeesatz_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=YDAoLskQQ5MOAgvHUQCcLVo5cPwm5NmpXPRhl3HDdWE&skey=3fc37ea29e333560&v=v8#YanoneKaffeesatz */
}
@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: url(Droid+Serif_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Droid+Serif_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Droid+Serif_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff */
        url(Droid+Serif_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaCwlidHJgAgmTjOEEzwu1L8.ttf */
        url(Droid+Serif_400_normal.svg#Droid+Serif_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=0AKsP294HTD-nvJgucYTaHNsigHlcrQGNV8nkUSFQfc&skey=a46d7e8bf49adcd6&v=v6#DroidSerif */
}
@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 700;
    src: url(Droid+Serif_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Droid+Serif_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Droid+Serif_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff */
        url(Droid+Serif_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTdGNerWpg2Hn6A-BxWgZ_I.ttf */
        url(Droid+Serif_700_normal.svg#Droid+Serif_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: 400;
    src: url(Droid+Serif_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Droid+Serif_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Droid+Serif_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff */
        url(Droid+Serif_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5892cbqnd1g9zt-QKibAzZSRA.ttf */
        url(Droid+Serif_400_italic.svg#Droid+Serif_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url(Ubuntu+Mono_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Ubuntu+Mono_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Ubuntu+Mono_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff */
        url(Ubuntu+Mono_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkSwlidHJgAgmTjOEEzwu1L8.ttf */
        url(Ubuntu+Mono_400_normal.svg#Ubuntu+Mono_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=ViZhet7Ak-LRXZMXzuAfkXNsigHlcrQGNV8nkUSFQfc&skey=8c1feb82f3a61020&v=v6#UbuntuMono */
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: url(Ubuntu+Mono_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Ubuntu+Mono_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Ubuntu+Mono_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytjqR_3kx9_hJXbbyU8S6IN0.woff */
        url(Ubuntu+Mono_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytjdGNerWpg2Hn6A-BxWgZ_I.ttf */
        url(Ubuntu+Mono_700_normal.svg#Ubuntu+Mono_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 400;
    src: url(Ubuntu+Mono_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Ubuntu+Mono_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Ubuntu+Mono_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/ubuntumono/v6/KAKuHXAHZOeECOWAHsRKA9kZXW4sYc4BjuAIFc1SXII.woff */
        url(Ubuntu+Mono_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/ubuntumono/v6/KAKuHXAHZOeECOWAHsRKA2cbqnd1g9zt-QKibAzZSRA.ttf */
        url(Ubuntu+Mono_400_italic.svg#Ubuntu+Mono_400_italic) format('svg'); /* {{svg-gf-url}} */
}
